<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="fonts/font-awesome.min.css" />
    <link href="css/reset.css" type="text/css" rel="stylesheet" />
    <link href="css/main.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <!--Header-->
    <header class="blockClass">
        <div class="container">
            <!--Logo-->
            <div class="logoContainer">&nbsp;</div>
            <!--Logo-->

            <!--Site Links-->
            <div class="siteLinksContainer">
                <a href="login-student.html">Student Login</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    Language :
                    <span class="selectedLanguage">English</span>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
            </div>
            <!--Site Links-->
        </div>
    </header>
    <!--Header-->

    <!--Section-->
    <section class="blockClass fluidHeightSection adminLoginBg">
        <div class="container">
            <div class="centerPatch">
                <!--Left Part-->
                <div class="centerPatchContainer blockClass">
                    <h1 class="heading" style="margin-bottom: 25px">ADMIN Login</h1>
                    <p class="paraMedium">Welcome to EDCE-Learning Platform,
                        <br /> Please Log in to Manage courses
                    </p>
                    <form class="blockClass">
                        <div class="form-control blockClass">
                            <input type="text" class="blockClass fontInput" placeholder="Username" />
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="form-control blockClass">
                            <input type="password" class="blockClass fontInput" placeholder="Password" />
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                        <div class="form-control blockClass">
                            <button class="blockClass fontButton">Login</button>
                        </div>
                    </form>
                </div>
                <!--Left Part-->

                <!--Right Part-->
                <div class="centerPatchContainer blockClass">
                    <h2 class="heading headingIcon" style="margin-bottom: 25px">
                        How does it work?
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </h2>
                    <p class="paraMedium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys
                        standard dummy text ever since the when an unknown printer took a galley of type an.
                    </p>
                </div>
                <!--Right Part-->
            </div>
        </div>
    </section>
    <!--Section-->

    <!--Footer-->
    <footer id="footerType1" class="blockClass">
        <div class="blockClass fContainer">
            <div class="container">
                <span class="fLogoName">
                    <span class="labelIcon labelIconSmall"></span>
                    <strong>E-LEARNING</strong> PLATFORM
                </span>
                <span>v1.0.0 - October 2018</span>
            </div>
        </div>

        <div class="blockClass fContainer">
            <div class="container">
                <div class="fContent">
                    Copyright © 2018 Emirates Driving Company - All rights reserved. Emirates Driving Company is registered trademark
                    <br /> Emirates Driving Company Abu Dhabi, United Arab Emirates - Abu dhabi City, Industrial Musaffah, Blcok
                    M2.
                </div>
                <div class="fContent">
                    <a href="#">Privacy policy</a> |
                    <a href="#">Terms and conditions</a>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer-->
</body>

</html>