USE [educationapp]
GO
/****** Object:  Table [dbo].[ad_assignments]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ad_assignments](
	[id] [int] IDENTITY(14,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[course] [int] NOT NULL,
	[course_code] [nvarchar](200) NOT NULL,
	[status] [int] NOT NULL DEFAULT ((0)),
	[dated] [date] NOT NULL,
	[start_date] [nvarchar](150) NOT NULL,
	[end_date] [nvarchar](150) NOT NULL,
	[assigned_by] [int] NOT NULL,
	[created_on] [datetime2](0) NOT NULL DEFAULT (getdate()),
	[slide_count] [nvarchar](200) NOT NULL,
	[lesson_count] [int] NOT NULL,
	[completed_lessons] [int] NOT NULL,
	[score] [nvarchar](150) NOT NULL,
	[language] [nvarchar](150) NOT NULL,
	[branch] [bigint] NULL,
	[payment_end_date] [date] NULL,
	[licence_type] [varchar](50) NULL,
 CONSTRAINT [PK_ad_assignments_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ad_course]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ad_course](
	[id] [int] IDENTITY(21,1) NOT NULL,
	[course_id] [nvarchar](200) NOT NULL,
	[course_name] [nvarchar](150) NOT NULL,
	[course_lang] [nvarchar](200) NOT NULL,
	[icon_file] [nvarchar](200) NOT NULL,
	[course_desc] [nvarchar](max) NOT NULL,
	[lesson_no] [int] NOT NULL,
	[created_on] [datetime2](0) NOT NULL DEFAULT (getdate()),
	[updated_on] [datetime2](0) NULL DEFAULT (NULL),
	[created_by] [bigint] NOT NULL,
	[updated_by] [int] NOT NULL,
	[publish_status] [int] NULL DEFAULT ((0)),
 CONSTRAINT [PK_ad_course_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ad_lessons]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ad_lessons](
	[id] [int] IDENTITY(29,1) NOT NULL,
	[lesson_id] [nvarchar](200) NOT NULL,
	[lesson_name] [nvarchar](255) NOT NULL,
	[lesson_order] [int] NOT NULL,
	[icon_file] [nvarchar](200) NOT NULL,
	[course_id] [nvarchar](200) NOT NULL,
	[course_code] [nvarchar](200) NOT NULL,
	[language] [nvarchar](50) NULL DEFAULT (NULL),
	[publish_status] [int] NULL DEFAULT ((0)),
	[created_on] [datetime2](0) NOT NULL DEFAULT (getdate()),
	[updated_on] [datetime2](0) NULL DEFAULT (getdate()),
	[updated_by] [int] NOT NULL,
	[created_by] [bigint] NOT NULL DEFAULT ((1)),
	[lesson_version] [int] NULL CONSTRAINT [DF_ad_lessons_lesson_version]  DEFAULT ((1)),
	[lesson_lock] [bigint] NULL,
 CONSTRAINT [PK_ad_lessons_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ad_quiz]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ad_quiz](
	[quiz_id] [int] IDENTITY(22,1) NOT NULL,
	[lessonid] [int] NOT NULL,
	[quiz_type] [nvarchar](20) NULL DEFAULT (NULL),
	[question] [nvarchar](max) NULL,
	[trueorfalse] [nvarchar](20) NULL DEFAULT (NULL),
	[mediatype] [nvarchar](20) NULL DEFAULT (NULL),
	[upload_media] [nvarchar](max) NULL,
	[right_answer] [nvarchar](max) NULL,
	[drag_drop] [nvarchar](max) NULL,
	[reorder] [nvarchar](max) NULL,
	[created_on] [datetime2](0) NULL DEFAULT (getdate()),
	[created_by] [int] NULL DEFAULT (NULL),
	[updated_on] [datetime2](0) NULL DEFAULT (NULL),
	[updated_by] [int] NULL DEFAULT (NULL),
	[publish_status] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_ad_quiz_quiz_id] PRIMARY KEY CLUSTERED 
(
	[quiz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ad_slide_comments]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ad_slide_comments](
	[id] [bigint] IDENTITY(21,1) NOT NULL,
	[slide_id] [bigint] NOT NULL,
	[comment] [varchar](max) NOT NULL,
	[status] [int] NOT NULL DEFAULT ((0)),
	[admin_status] [int] NOT NULL DEFAULT ((0)),
	[added_by] [bigint] NOT NULL,
	[updated_at] [datetime] NOT NULL DEFAULT (getdate()),
	[created_at] [datetime] NOT NULL DEFAULT (getdate()),
 CONSTRAINT [PK_ad_slide_comments_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ad_slides]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ad_slides](
	[id] [int] IDENTITY(22,1) NOT NULL,
	[lesson_id] [int] NOT NULL,
	[slide_title] [nvarchar](150) NOT NULL,
	[slide_mode] [nvarchar](50) NOT NULL,
	[slide_file] [nvarchar](255) NOT NULL,
	[slide_description] [nvarchar](max) NOT NULL,
	[slide_duration] [nvarchar](15) NOT NULL,
	[slide_order] [int] NOT NULL,
	[created_by] [int] NOT NULL,
	[created_on] [datetime2](0) NOT NULL DEFAULT (getdate()),
	[updated_by] [int] NULL DEFAULT (NULL),
	[updated_on] [datetime2](0) NOT NULL DEFAULT (getdate()),
	[publish_status] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_ad_slides_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ad_staff]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ad_staff](
	[id] [int] IDENTITY(12,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[password] [nvarchar](250) NOT NULL,
	[contact_number] [nvarchar](15) NOT NULL,
	[role] [int] NOT NULL,
	[remember_me] [int] NOT NULL CONSTRAINT [remember_me]  DEFAULT ((0)),
	[remember_token] [nvarchar](210) NOT NULL CONSTRAINT [remember_token1]  DEFAULT ((0)),
	[last_login] [datetime2](0) NOT NULL DEFAULT (getdate()),
	[created_time] [datetime2](0) NOT NULL DEFAULT (getdate()),
 CONSTRAINT [PK_ad_staff_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ad_student]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ad_student](
	[id] [int] IDENTITY(17,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[student_idno] [nvarchar](100) NULL DEFAULT (NULL),
	[trafficNumber] [nvarchar](100) NOT NULL,
	[fileNumber] [nvarchar](100) NOT NULL,
	[emirates_idno] [nvarchar](100) NULL DEFAULT (NULL),
	[email] [nvarchar](200) NOT NULL,
	[password] [nvarchar](250) NOT NULL CONSTRAINT [col_c_def]  DEFAULT ('password123'),
	[contact_number] [nvarchar](15) NOT NULL,
	[role] [int] NOT NULL,
	[no_of_lessons] [int] NOT NULL,
	[vip] [smallint] NOT NULL,
	[remember_me] [int] NOT NULL CONSTRAINT [col_d_def]  DEFAULT ((0)),
	[remember_token] [text] NULL,
	[last_login] [datetime2](0) NOT NULL DEFAULT (getdate()),
	[created_time] [datetime2](0) NOT NULL DEFAULT (getdate()),
 CONSTRAINT [PK_ad_student_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[employee_list]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_list](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[Emp_no] [int] NULL,
	[UserName] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_employee_list] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[notifications]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(165,1) NOT NULL,
	[user] [bigint] NOT NULL,
	[name] [varchar](225) NOT NULL,
	[user_type] [varchar](200) NULL,
	[type] [text] NULL,
	[notify_to] [bigint] NULL CONSTRAINT [col_b_def]  DEFAULT ((0)),
	[course] [text] NULL,
	[status] [varchar](200) NULL DEFAULT (N'0'),
	[url] [text] NULL,
	[created_at] [datetime] NOT NULL DEFAULT (getdate()),
 CONSTRAINT [PK_notifications_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[student_list]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_list](
	[id] [int] IDENTITY(14,1) NOT NULL,
	[StudentNo] [int] NOT NULL,
	[TrafficNo] [int] NOT NULL,
	[TryFileNo] [int] NOT NULL,
	[NameEng] [nvarchar](150) NOT NULL,
	[eNameAr] [nvarchar](150) NOT NULL,
	[BranchNo] [int] NOT NULL,
 CONSTRAINT [PK_student_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[student_table]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_table](
	[id] [int] IDENTITY(14,1) NOT NULL,
	[StudentNo] [int] NOT NULL,
	[TrafficNo] [nvarchar](150) NOT NULL,
	[TryFileNo] [nvarchar](150) NOT NULL,
	[NameEng] [nvarchar](150) NOT NULL,
	[NameAr] [nvarchar](150) NOT NULL,
	[BranchNo] [int] NOT NULL,
	[EmiratesID] [int] NULL,
 CONSTRAINT [PK_student_table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[studentcoursedetails]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studentcoursedetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CourseRef] [nvarchar](50) NOT NULL,
	[LessonCode] [nvarchar](50) NULL,
	[LessonDescription] [text] NULL,
	[BookedDate] [date] NULL,
	[Attendance] [nvarchar](50) NULL,
	[ByPass] [nvarchar](50) NULL,
	[Order] [int] NULL,
	[StudentNo] [int] NULL,
	[TrafficfileNo] [nvarchar](18) NULL,
	[TryfileNo] [nvarchar](18) NULL,
	[BranchNo] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[studentcourses]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studentcourses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CourseRef] [int] NOT NULL,
	[TryFileNo] [nchar](18) NOT NULL,
	[TrainingExpiry] [date] NULL,
	[PaymentExpiry] [date] NULL,
	[Branch] [int] NULL,
	[EducationLanguage] [nchar](10) NULL,
	[LicenseType] [nchar](18) NULL,
	[NoOfLessonsPerDay] [int] NULL,
	[ExamBookingDate] [date] NULL,
	[StudentNo] [int] NULL,
	[TrafficfileNo] [nvarchar](18) NULL,
	[BranchNo] [int] NULL,
	[ExamStatus] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_Lesson]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table_Lesson](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](max) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_Table_Lesson] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ad_assignments] ON 

INSERT [dbo].[ad_assignments] ([id], [student_id], [course], [course_code], [status], [dated], [start_date], [end_date], [assigned_by], [created_on], [slide_count], [lesson_count], [completed_lessons], [score], [language], [branch], [payment_end_date], [licence_type]) VALUES (22, 111, 1, N'2670514', 1, CAST(N'2019-11-01' AS Date), N'2020-12-20', N'2020-07-20', 1, CAST(N'2019-10-24 15:39:16.0000000' AS DateTime2), N'0', 2, 0, N'0', N'AR        ', 1, CAST(N'2020-01-20' AS Date), N'Light vehicle     ')
INSERT [dbo].[ad_assignments] ([id], [student_id], [course], [course_code], [status], [dated], [start_date], [end_date], [assigned_by], [created_on], [slide_count], [lesson_count], [completed_lessons], [score], [language], [branch], [payment_end_date], [licence_type]) VALUES (23, 111, 1, N'2670514', 0, CAST(N'2019-12-01' AS Date), N'2020-12-20', N'2020-08-20', 1, CAST(N'2019-10-24 15:39:16.0000000' AS DateTime2), N'0', 2, 0, N'0', N'AR        ', 1, CAST(N'2020-02-20' AS Date), N'Light Vehicle     ')
INSERT [dbo].[ad_assignments] ([id], [student_id], [course], [course_code], [status], [dated], [start_date], [end_date], [assigned_by], [created_on], [slide_count], [lesson_count], [completed_lessons], [score], [language], [branch], [payment_end_date], [licence_type]) VALUES (24, 111, 1, N'2670514', 1, CAST(N'2019-11-01' AS Date), N'2020-12-20', N'2020-07-20', 1, CAST(N'2019-10-24 15:40:56.0000000' AS DateTime2), N'0', 2, 0, N'0', N'AR        ', 1, CAST(N'2020-01-20' AS Date), N'Light vehicle     ')
SET IDENTITY_INSERT [dbo].[ad_assignments] OFF
SET IDENTITY_INSERT [dbo].[ad_course] ON 

INSERT [dbo].[ad_course] ([id], [course_id], [course_name], [course_lang], [icon_file], [course_desc], [lesson_no], [created_on], [updated_on], [created_by], [updated_by], [publish_status]) VALUES (2, N'RHDL', N'Right hand driving lessons', N'{"english":"1","arabic":"0","urdu":"0","pashto":"0","malayalam":"0"}', N'content/uploads/course/154746301422071.jpg', N'', 18, CAST(N'2019-01-14 16:20:14.0000000' AS DateTime2), CAST(N'2019-01-14 16:20:14.0000000' AS DateTime2), 2, 1, 2)
INSERT [dbo].[ad_course] ([id], [course_id], [course_name], [course_lang], [icon_file], [course_desc], [lesson_no], [created_on], [updated_on], [created_by], [updated_by], [publish_status]) VALUES (6, N'', N'Security Driver Test - New', N'{"english":"1","arabic":"0","urdu":"0","pashto":"0","malayalam":"0"}', N'content/uploads/course/154752657731949.jpg', N'', 5, CAST(N'2019-01-15 09:59:37.0000000' AS DateTime2), CAST(N'2019-01-14 16:27:17.0000000' AS DateTime2), 2, 1, 2)
INSERT [dbo].[ad_course] ([id], [course_id], [course_name], [course_lang], [icon_file], [course_desc], [lesson_no], [created_on], [updated_on], [created_by], [updated_by], [publish_status]) VALUES (7, N'', N'Speed Test Lessons', N'{"english":"1","arabic":"0","urdu":"0","pashto":"0","malayalam":"0"}', N'content/uploads/course/154754805221891.jpg', N'', 10, CAST(N'2019-01-15 15:57:32.0000000' AS DateTime2), CAST(N'2019-01-14 16:27:17.0000000' AS DateTime2), 2, 1, 2)
SET IDENTITY_INSERT [dbo].[ad_course] OFF
SET IDENTITY_INSERT [dbo].[ad_lessons] ON 

INSERT [dbo].[ad_lessons] ([id], [lesson_id], [lesson_name], [lesson_order], [icon_file], [course_id], [course_code], [language], [publish_status], [created_on], [updated_on], [updated_by], [created_by], [lesson_version], [lesson_lock]) VALUES (2, N'IN', N'Introduction', 1, N'content/uploads/lessons/154833124221808.jpg', N'9', N'7', N'english', 2, CAST(N'2019-01-24 11:49:51.0000000' AS DateTime2), CAST(N'2019-06-14 14:19:57.0000000' AS DateTime2), 1, 1, 1, NULL)
INSERT [dbo].[ad_lessons] ([id], [lesson_id], [lesson_name], [lesson_order], [icon_file], [course_id], [course_code], [language], [publish_status], [created_on], [updated_on], [updated_by], [created_by], [lesson_version], [lesson_lock]) VALUES (3, N'CO', N'Course Overview', 2, N'content/uploads/lessons/154832285614613.jpg', N'9', N'7', N'english', 2, CAST(N'2019-01-24 15:10:56.0000000' AS DateTime2), CAST(N'2019-06-14 14:20:01.0000000' AS DateTime2), 1, 1, 1, NULL)
INSERT [dbo].[ad_lessons] ([id], [lesson_id], [lesson_name], [lesson_order], [icon_file], [course_id], [course_code], [language], [publish_status], [created_on], [updated_on], [updated_by], [created_by], [lesson_version], [lesson_lock]) VALUES (4, N'LHDAI', N'Left Hand Driving - An Introduction', 3, N'content/uploads/lessons/15483229653431.jpg', N'9', N'7', N'english', 2, CAST(N'2019-01-24 15:12:45.0000000' AS DateTime2), CAST(N'2019-06-14 14:20:06.0000000' AS DateTime2), 1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[ad_lessons] OFF
SET IDENTITY_INSERT [dbo].[ad_quiz] ON 

INSERT [dbo].[ad_quiz] ([quiz_id], [lessonid], [quiz_type], [question], [trueorfalse], [mediatype], [upload_media], [right_answer], [drag_drop], [reorder], [created_on], [created_by], [updated_on], [updated_by], [publish_status]) VALUES (2, 2, N'true_or_false', N'Driving automation helps newbie drivers drive fast?', N'true', NULL, NULL, NULL, NULL, NULL, CAST(N'2019-03-05 00:00:00.0000000' AS DateTime2), 1, NULL, 1, 0)
INSERT [dbo].[ad_quiz] ([quiz_id], [lessonid], [quiz_type], [question], [trueorfalse], [mediatype], [upload_media], [right_answer], [drag_drop], [reorder], [created_on], [created_by], [updated_on], [updated_by], [publish_status]) VALUES (3, 2, N'true_or_false', N'Driving relaxation course helps learners know the basics of relaxation during driving.', N'true', NULL, NULL, NULL, NULL, NULL, CAST(N'2019-03-05 00:00:00.0000000' AS DateTime2), 1, NULL, 1, 0)
INSERT [dbo].[ad_quiz] ([quiz_id], [lessonid], [quiz_type], [question], [trueorfalse], [mediatype], [upload_media], [right_answer], [drag_drop], [reorder], [created_on], [created_by], [updated_on], [updated_by], [publish_status]) VALUES (4, 2, N'true_or_false', N'Does piano music relax mind?', N'false', NULL, NULL, NULL, NULL, NULL, CAST(N'2019-03-05 00:00:00.0000000' AS DateTime2), 1, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[ad_quiz] OFF
SET IDENTITY_INSERT [dbo].[ad_slide_comments] ON 

INSERT [dbo].[ad_slide_comments] ([id], [slide_id], [comment], [status], [admin_status], [added_by], [updated_at], [created_at]) VALUES (13, 6, N'new comment', 0, 0, 1, CAST(N'2019-05-11 17:49:01.000' AS DateTime), CAST(N'2019-03-24 17:19:10.000' AS DateTime))
INSERT [dbo].[ad_slide_comments] ([id], [slide_id], [comment], [status], [admin_status], [added_by], [updated_at], [created_at]) VALUES (14, 6, N'testing comment 123', 0, 0, 1, CAST(N'2019-05-11 17:49:04.000' AS DateTime), CAST(N'2019-03-25 02:01:45.000' AS DateTime))
INSERT [dbo].[ad_slide_comments] ([id], [slide_id], [comment], [status], [admin_status], [added_by], [updated_at], [created_at]) VALUES (15, 16, N'testing comment', 1, 0, 1, CAST(N'2019-05-19 14:32:55.000' AS DateTime), CAST(N'2019-04-22 11:40:01.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ad_slide_comments] OFF
SET IDENTITY_INSERT [dbo].[ad_slides] ON 

INSERT [dbo].[ad_slides] ([id], [lesson_id], [slide_title], [slide_mode], [slide_file], [slide_description], [slide_duration], [slide_order], [created_by], [created_on], [updated_by], [updated_on], [publish_status]) VALUES (3, 2, N'Piano - Driving Relaxation', N'audio', N'content/uploads/slide/audio/2155003715622394.mp3', N'Piano - Introduction Piano introduction course.', N'04:00', 4, 1, CAST(N'2019-02-13 11:22:36.0000000' AS DateTime2), NULL, CAST(N'2019-05-28 12:00:05.0000000' AS DateTime2), 0)
INSERT [dbo].[ad_slides] ([id], [lesson_id], [slide_title], [slide_mode], [slide_file], [slide_description], [slide_duration], [slide_order], [created_by], [created_on], [updated_by], [updated_on], [publish_status]) VALUES (4, 2, N'How to hold your steering wheel', N'image', N'content/uploads/slide/image/2155133492010408.jpg', N'Steering Wheels:

How to hold your steering wheel. This is a sample course.', N'00:00', 5, 1, CAST(N'2019-02-28 11:52:00.0000000' AS DateTime2), NULL, CAST(N'2019-05-28 12:37:04.0000000' AS DateTime2), 0)
INSERT [dbo].[ad_slides] ([id], [lesson_id], [slide_title], [slide_mode], [slide_file], [slide_description], [slide_duration], [slide_order], [created_by], [created_on], [updated_by], [updated_on], [publish_status]) VALUES (5, 3, N'Introduction to course overview', N'image', N'content/uploads/slide/image/3155176130419019.jpg', N'Introduction to course overview,  This is a text summary for testing.', N'01:18', 1, 1, CAST(N'2019-03-05 10:18:24.0000000' AS DateTime2), NULL, CAST(N'2019-03-05 10:18:24.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[ad_slides] OFF
SET IDENTITY_INSERT [dbo].[ad_staff] ON 

INSERT [dbo].[ad_staff] ([id], [name], [email], [password], [contact_number], [role], [remember_me], [remember_token], [last_login], [created_time]) VALUES (1, N'Admin', N'admin@educationapp.com', N'$2y$10$uqfwk0rM.IDQwA.Kwwv0JOfH1VVRKWgqe6ojJq0Q0QnE7iThih8Y6', N'9876543210', 0, 0, N'', CAST(N'2019-05-11 23:05:46.0000000' AS DateTime2), CAST(N'2018-11-28 11:19:53.0000000' AS DateTime2))
INSERT [dbo].[ad_staff] ([id], [name], [email], [password], [contact_number], [role], [remember_me], [remember_token], [last_login], [created_time]) VALUES (2, N'Faculty', N'faculty@educationapp.com', N'$2y$10$uqfwk0rM.IDQwA.Kwwv0JOfH1VVRKWgqe6ojJq0Q0QnE7iThih8Y6', N'784596310', 1, 0, N'', CAST(N'2019-05-11 23:05:46.0000000' AS DateTime2), CAST(N'2018-12-20 10:24:41.0000000' AS DateTime2))
INSERT [dbo].[ad_staff] ([id], [name], [email], [password], [contact_number], [role], [remember_me], [remember_token], [last_login], [created_time]) VALUES (4, N'Jino Mukesh', N'jino@test.com', N'$2y$10$6IntcRCdOy/n6azc9r8uSuIp3cBw/ggnQrMR.RXNzg6UkOk6OGnya', N'7845129630', 0, 0, N'', CAST(N'2019-05-11 23:05:46.0000000' AS DateTime2), CAST(N'2019-01-02 10:21:24.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ad_staff] OFF
SET IDENTITY_INSERT [dbo].[ad_student] ON 

INSERT [dbo].[ad_student] ([id], [name], [student_idno], [trafficNumber], [fileNumber], [emirates_idno], [email], [password], [contact_number], [role], [no_of_lessons], [vip], [remember_me], [remember_token], [last_login], [created_time]) VALUES (1, N'Student', N'222', N'222', N'222', N'258-9586-986542', N'student@educationapp.com', N'$2y$10$crI.A8IFva9YbHYbvnY.L.Mq.8z/G9tuPW1GVrRGkS2M7aaiC8PXe', N'784521058', 0, 0, 0, 0, N'', CAST(N'2019-05-11 23:05:06.0000000' AS DateTime2), CAST(N'2018-12-20 11:14:26.0000000' AS DateTime2))
INSERT [dbo].[ad_student] ([id], [name], [student_idno], [trafficNumber], [fileNumber], [emirates_idno], [email], [password], [contact_number], [role], [no_of_lessons], [vip], [remember_me], [remember_token], [last_login], [created_time]) VALUES (2, N'Ram Thilak', N'', N'', N'', N'', N'ramthilak@gmail.com', N'$2y$10$V7/99nNsFkQtgzYE4OO5eOPDT5Ap4FwfeqL3fiPIzKiWIhQ8DH2Da', N'8526391', 0, 0, 0, 0, N'', CAST(N'2019-05-11 23:05:06.0000000' AS DateTime2), CAST(N'2019-01-05 10:45:09.0000000' AS DateTime2))
INSERT [dbo].[ad_student] ([id], [name], [student_idno], [trafficNumber], [fileNumber], [emirates_idno], [email], [password], [contact_number], [role], [no_of_lessons], [vip], [remember_me], [remember_token], [last_login], [created_time]) VALUES (3, N'Aishwariya', N'', N'', N'', N'', N'aishwariya@gmail.com', N'$2y$10$06wqMdz.5BXEuu9EU0kow.XncC9JkS9in0e1ADg2iwfPjbjnhfMn2', N'741852096', 0, 0, 0, 0, N'', CAST(N'2019-05-11 23:05:06.0000000' AS DateTime2), CAST(N'2019-01-05 10:46:55.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ad_student] OFF
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user], [name], [user_type], [type], [notify_to], [course], [status], [url], [created_at]) VALUES (112, 0, N'Admin', N'Admin', N'', 0, N'', N'Login', N'', CAST(N'2019-05-20 00:20:50.000' AS DateTime))
INSERT [dbo].[notifications] ([id], [user], [name], [user_type], [type], [notify_to], [course], [status], [url], [created_at]) VALUES (113, 1, N'Admin', N'Admin', N'', 0, N'', N'Admin Comment', N'http://localhost/eduapp/admin/lesson/summary/bFZHcDF0alhzWTYvZGtYZTc1ZyswUT09', CAST(N'2019-05-20 00:24:42.000' AS DateTime))
INSERT [dbo].[notifications] ([id], [user], [name], [user_type], [type], [notify_to], [course], [status], [url], [created_at]) VALUES (114, 0, N'Faculty', N'Trainer', N'', 0, N'', N'Login', N'', CAST(N'2019-05-20 00:31:53.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[notifications] OFF
SET IDENTITY_INSERT [dbo].[student_list] ON 

INSERT [dbo].[student_list] ([id], [StudentNo], [TrafficNo], [TryFileNo], [NameEng], [eNameAr], [BranchNo]) VALUES (14, 111, 111, 111, N'abc', N'و', 111)
SET IDENTITY_INSERT [dbo].[student_list] OFF
SET IDENTITY_INSERT [dbo].[student_table] ON 

INSERT [dbo].[student_table] ([id], [StudentNo], [TrafficNo], [TryFileNo], [NameEng], [NameAr], [BranchNo], [EmiratesID]) VALUES (14, 111, N'111', N'111', N'111', N'111', 1, 111)
SET IDENTITY_INSERT [dbo].[student_table] OFF
SET IDENTITY_INSERT [dbo].[studentcourses] ON 

INSERT [dbo].[studentcourses] ([id], [CourseRef], [TryFileNo], [TrainingExpiry], [PaymentExpiry], [Branch], [EducationLanguage], [LicenseType], [NoOfLessonsPerDay], [ExamBookingDate], [StudentNo], [TrafficfileNo], [BranchNo], [ExamStatus]) VALUES (1, 2670514, N'111               ', CAST(N'2019-07-20' AS Date), CAST(N'2020-01-20' AS Date), 1, N'AR        ', N'Light vehicle     ', 2, CAST(N'2019-07-01' AS Date), 111, N'111', 1, N'Failed')
INSERT [dbo].[studentcourses] ([id], [CourseRef], [TryFileNo], [TrainingExpiry], [PaymentExpiry], [Branch], [EducationLanguage], [LicenseType], [NoOfLessonsPerDay], [ExamBookingDate], [StudentNo], [TrafficfileNo], [BranchNo], [ExamStatus]) VALUES (5, 2670514, N'111               ', CAST(N'2019-08-20' AS Date), CAST(N'2020-02-20' AS Date), 1, N'AR        ', N'Light Vehicle     ', 2, CAST(N'2019-08-01' AS Date), 111, N'111', 1, NULL)
SET IDENTITY_INSERT [dbo].[studentcourses] OFF
SET IDENTITY_INSERT [dbo].[Table_Lesson] ON 

INSERT [dbo].[Table_Lesson] ([id], [Code], [Description]) VALUES (1, N'L1', N'Lesson 1')
INSERT [dbo].[Table_Lesson] ([id], [Code], [Description]) VALUES (2, N'L2', N'Lesson 2')
INSERT [dbo].[Table_Lesson] ([id], [Code], [Description]) VALUES (3, N'L3', N'Lesson 3')
SET IDENTITY_INSERT [dbo].[Table_Lesson] OFF
/****** Object:  StoredProcedure [dbo].[_sp_el_employees]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[_sp_el_employees] 
	-- Add the parameters for the stored procedure here
	--<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Emp_no, UserName, Name from employee_list;
END

GO
/****** Object:  StoredProcedure [dbo].[_sp_el_lessons]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[_sp_el_lessons] 
	-- Add the parameters for the stored procedure here
	--<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Code,Description FROM dbo.Table_Lesson
END

GO
/****** Object:  StoredProcedure [dbo].[_sp_el_studentauth]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[_sp_el_studentauth] 
	-- Add the parameters for the stored procedure here
	 @StudentNo int ,
     @TrafficNo nvarchar(18),
     @fileNo nvarchar(18),
     @BranchNo int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP 1000 [id]
      ,[StudentNo]
      ,[TrafficNo]
      ,[TryFileNo]
      ,[NameEng]
      ,[NameAr]
      ,[BranchNo]
      ,[EmiratesID]
  FROM [educationapp].[dbo].[student_table] where StudentNo=@StudentNo AND TrafficNo=@TrafficNo AND TryFileNo=@fileNo AND BranchNo=@BranchNo ;
	--SELECT [StudentNo],[NameEng],[NameAr],[EmiratesID],[TrafficNo],[TryFileNo] from student_list where StudentNo=@StudentNo AND TrafficNo=@TrafficNo AND TryFileNo=@fileNo AND BranchNo=@BranchNo ;
END

GO
/****** Object:  StoredProcedure [dbo].[_sp_el_studentcoursedetails]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[_sp_el_studentcoursedetails] 
	-- Add the parameters for the stored procedure here
	 @StudentNo int ,
     @TrafficNo nvarchar(18),
     @fileNo nvarchar(18),
     @BranchNo int,
	 @CourseRef int
	 


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *  FROM studentcoursedetails where StudentNo=@StudentNo AND TrafficfileNo=@TrafficNo AND TryFileNo=@fileNo AND BranchNo=@BranchNo AND CourseRef=@CourseRef ;
	--SELECT [StudentNo],[NameEng],[NameAr],[EmiratesID],[TrafficNo],[TryFileNo] from student_list where StudentNo=@StudentNo AND TrafficNo=@TrafficNo AND TryFileNo=@fileNo AND BranchNo=@BranchNo ;
END

GO
/****** Object:  StoredProcedure [dbo].[_sp_el_studentcourses]    Script Date: 24-10-2019 06:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[_sp_el_studentcourses] 
	-- Add the parameters for the stored procedure here
	 @StudentNo int ,
     @TrafficNo nvarchar(18),
     @fileNo nvarchar(18),
     @BranchNo int
	 


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *  FROM studentcourses where StudentNo=@StudentNo AND TrafficfileNo=@TrafficNo AND TryFileNo=@fileNo AND BranchNo=@BranchNo;
	--SELECT [StudentNo],[NameEng],[NameAr],[EmiratesID],[TrafficNo],[TryFileNo] from student_list where StudentNo=@StudentNo AND TrafficNo=@TrafficNo AND TryFileNo=@fileNo AND BranchNo=@BranchNo ;
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'educationapp.ad_assignments' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ad_assignments'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'educationapp.ad_course' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ad_course'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'educationapp.ad_lessons' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ad_lessons'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'educationapp.ad_quiz' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ad_quiz'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'educationapp.ad_slide_comments' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ad_slide_comments'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'educationapp.ad_slides' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ad_slides'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'educationapp.ad_staff' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ad_staff'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'educationapp.ad_student' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ad_student'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'educationapp.notifications' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'notifications'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'educationapp.student_list' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'student_list'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'educationapp.student_table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'student_table'
GO
